<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <template id="assets_backend" name="hs web assets" inherit_id="web.assets_backend">
            <xpath expr="." position="inside">
                <script type="text/javascript" src="/hs_base/static/src/js/web.js"></script>
                <script type="text/javascript" src="/hs_base/static/src/js/checkbrowser.js"></script>
                <link rel="stylesheet" href="/hs_base/static/src/css/web.css"/>
            </xpath>
        </template>
    </data>
</openerp>